body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a :hover {
  background-color: #d8c0c0;
}

h1 {
  margin-left: 100px;
}
.header-page {
  display: flex;
  flex-direction: column;
  border: none;
  text-decoration-line: none;
  margin-bottom: 20px;
}
.head-title {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.first-title {
  font-weight: bold;
  text-decoration-style: none;
  text-align: justify;
  padding: 10px 10px 10px 100px;
}
.first-title :hover {
  background-color: #d8c0c0;
}
.format-link {
  border: none;
  text-decoration-line: none;
  margin: 0 16px 0 16px;
}
.format-link :hover {
  background-color: #d8c0c0;
}
.news {
  background-color: #b80000;
  color: #f7f2f2;
  height: 70px;
  margin-bottom: 1px;
}
.title-second {
  height: auto;
  background-color: #b80000;
  text-align: justify;
  padding: 10px 10px 10px 100px;
}
.title-line-white {
  align-items: center;
  color: #f7f2f2;
  justify-items: center;
  margin: 0.5px;
  height: 50px;
  margin-left: 100px;
  border-color: #f7f2f2;
}
.title-second :hover {
  background-color: #d8c0c0;
}
.title-white {
  color: #f7f2f2;
  text-decoration-line: none;
  padding-right: 20px;
  margin-top: 20px;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}
.image {
  width: auto;
  margin-left: 100px;
}
.image2 {
  width: 100%;
  height: 100px;
  /* margin-left: 100px; */
}
.body-text {
  margin: 0 100px 0 100px;
}
.middle-page {
  display: flex;
}
.left-side {
  flex: 3;
  background-color: transparent;
}
.right-side {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  flex: 1;
  margin: 100px 50px;
}
.text-right {
  text-decoration-line: none;
  border: none;
  padding: auto;
}
.text-right :hover {
  background-color: #d8c0c0;
}
.end-page {
  height: 100px;
  background-color: #0f0d0d;
  color: aliceblue;
  padding-left: 100px;
}
.most-read-text {
  background-color: antiquewhite;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 1px;
  text-decoration: none;
}
.most-read-text :hover {
  background-color: #d8c0c0;
}
